SERVER_PORT=4000
API_SERVER_URL=http://localhost

# DB Configs (use only one that fits well at a given time)
  # For Local Mongo running in docker
  # MONGO_URI=mongodb://root:password@orange-cleaning-db/orange-cleaning-dev-db?authSource=admin

  # For Cloud MongoDB (replica-set) in MongoAtlas
  # MONGO_URI=mongodb+srv://bmnepali:<password>@orangecleaningdev.ovwvn.mongodb.net/myFirstDatabase?retryWrites=true&w=majority

# Token Configs
ACCESS_TOKEN_SECRET=ghfjbdnsfmaddnbjhdsdgfnadivsbeaiwfagshshagfdwGHTJ
ACCESS_TOKEN_EXPIRATION=3600s

REFRESH_TOKEN_SECRET=rtrtffjrteyrjfgncvbxdshrdjhfdggsethfethdgsdssfggzb
REFRESH_TOKEN_EXPIRATION=1d

# Redis Server
REDIS_ENABLED=true
REDIS_HOST=orange-cleaning-redis
REDIS_PORT=6379

#AWS Configs
AWS_ACCESS_KEY_ID=<AWS_ACCESS_KEY_ID>
AWS_SECRET_ACCESS_KEY=<AWS_SECRET_ACCESS_KEY>
AWS_REGION=<AWS_REGION>
AWS_PUBLIC_BUCKET=<AWS_PUBLIC_BUCKET>

# Mail Configs
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=<email_address>
MAIL_PASS=<password>

# Geo Coordinates Keys
GEO_COORDINATES_API_KEY=<API_KEY>
